* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 249, 238);
    text-align: center;
    color: rgb(1, 1, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 50px;
}

.boxes {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-image: url("img/question.png");
    background-size: contain;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 1s infinite;
}

@keyframes animate {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-20deg);
        
    }
    100%{
        transform: rotate(10deg);
    }
}

img {
    width: 75px;
    height: 75px;
}

#btn {
    width: 140px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(88, 93, 238);
    background-color: rgb(42, 118, 224);
}

.container2 {
    display: flex;
    font-size: 22px;
}

.container2 img {
    width: 23px;
    height: 23px;
    margin: 2px;
}

